**/.idea/
**/.gradle/
*.class
/gradle/wrapper/gradle-wrapper.jar
**/build
**/out
**/generated/
**/.settings
/**/.classpath
**/.factorypath
**/.project
**/target
**/.classpath
**/bin
SpringBoot/.classpath
ORM/.classpath
ORM/src/main/java/org/gen
**/gen/
